@font-face {
  font-family: Font;
  src: url(/content/74eed71c46430c38e056ef1bc69ad2c521293a8941d2177b52e7d447b42d5522i0)

}

html, body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #333;
  font-family: Font,serif;
}

.gloww {
  text-shadow: 0 0 55px #ff9900, 0 0 32px rgba(255, 119, 0, 0.7), 0 0 7px #000, 0 0 16px #000, 0 0 3px #bf00ff;
}
